<footer class="bg-dark">
    <p> Este sitio web fue creado con objetivo didactico y educativo, puedes acceder al repositorio o contactarme en los siguientes enlaces</p>
    <div class="contacto">
        <a href="https://github.com/Axforzi"><i class="fa-brands fa-github"></i></a>
        <a href="mailto:garcia.maikelr@gmail.com"><i class="fa-regular fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/maikel-garcía-8a3b60232/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</footer>