<header class="sticky-header">
    <nav aria-label="Principal">
        <a class="brand" href="{{ url_for('index.get_index') }}">
            <img src="{{ url_for('static', filename='img/comparacion.svg') }}" alt="Logotipo de gameScraper">
        </a>
        <ul class="nav-links">
            <li>
                <a href="{{ url_for('index.get_index') }}" class="{{ 'active' if request.endpoint == 'index.get_index' else '' }}">Inicio</a>
            </li>
            <li>
                <a href="{{ url_for('index.get_ofertas_page') }}" class="{{ 'active' if request.endpoint == 'index.get_ofertas_page' else '' }}">Ofertas de hoy</a>
            </li>
        </ul>
    </nav>
</header>