*, h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

:root{
    --input-width: 0%;
}

header{
    .navbar-brand{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }

    img{
        height: 25px;
    }
}

main{
    display: flex;
    position: relative;
    min-height: calc(100vh - 60px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main::before{
    content: '';
    position: absolute;
    z-index: -10;
    background: radial-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.829)), url('/static/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.form-game span, .form-game{
    width: 80%;
}

.form-game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}


/* INPUT CONFIG */
.form-game input{
    font-size: 1rem;
    padding: 10px 30px !important;
    background: none;
    color: white;
    border: none;
    transition: all .1s ease;
}
.form-game input:focus{
    background: #2d364b00;
    color: white;
    border: none;
    transition: all .1s ease;
}
.form-game input::placeholder{
    color: rgba(255, 255, 255, 0.459);
}

.form-game span{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50px;
}

.form-game span::before{
    content: '';
    position: absolute;
    background: #2d364b;
    border-radius: 50px;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    z-index: -1;
    transition: all .3s ease;
}

.form-game span:focus::before{
    background: #2d364b;
}

.form-game span::after{
    content: '';
    position: absolute;
    background: #7b8ebb;
    height: 100%;
    width: var(--input-width);
    z-index: -2;
    bottom: -3px;
    border-radius: 50px;
    transition: all .3s ease;
}

.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: none;
    background-color: #00C89C;
    color: #234E5A;
    border-radius: 100%;
    transition: all .2s ease;
}
.search-btn:hover{
    background-color: #2beb81;
    transition: all .2s ease;
}
.search-btn:focus{
    background-color: #2beb81;
    transition: all .2s ease;
}

footer{
    display: flex;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;

    p{
        width: 300px;
    }
    .contacto{
        display: flex;
        padding: 10px;
        margin-top: 13px;
        font-size: 1.5rem;
        gap: 20px;
    }
    .contacto a{
        color: #00C89C;
        transition: .3s all;
    }
    .contacto a:hover{
        color: #2beb81;
        transition: .3s all;
    }
}


/* MODAL CONFIG */
#modalJuegos .modal-content{
    background: rgb(34, 30, 51);
    color: white;
}

#modalJuegos img{
    display: flex;
    height: 100px;
}

#modalJuegos .plataformas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#modalJuegos .plataformas > div{
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
    background-color: #484554;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 15px;
}

#modalJuegos .plataformas > div .info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

#modalJuegos .modal-body{
    display: flex;
    flex-direction: column;
}

#modalJuegos .modal-body .container-juego > img{
    display: flex;
    align-self: center;
    min-height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

#modalJuegos .container-juego{
    display: flex;
    align-self: center;
    gap: 20px;
    align-items: center;
}

#modalJuegos .container-juego .container-descripcion{
    margin-bottom: 30px;
}

/* PRECIOS ESTILOS */
#modalJuegos .info p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 1.5rem;
}

#modalJuegos .info p span{
    font-weight: 100;
    font-size: 2.5rem;
}